:root {
  /* Colors*/

  /* Text */

  --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --Soft-red: hsl(14, 88%, 65%);

  /* Gradient */

  /* Background gradient: */

  --Soft-violet: hsl(273, 75%, 66%);
  --Soft-blue: hsl(240, 73%, 65%);
  --Soft-blue-shadow: hsl(256, 48%, 49%);

  /* Neutral */

  /* Text */

  --Very-dark-grayish-blue: hsl(237, 12%, 33%);
  --Dark-grayish-blue: hsl(240, 6%, 50%);

  /* Dividers */

  --Light-grayish-blue: hsl(240, 5%, 91%);

  /* Font*/
  --font: "Kumbh Sans", sans-serif;
}

/** Reset **/
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: linear-gradient(
    0deg,
    rgba(101, 101, 231, 1) 0%,
    rgba(174, 103, 233, 1) 70%
  );
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body,
h1,
h2,
p {
  margin: 0;
}

h2,
p {
  font-size: 0.83rem;
  font-weight: 400;
}

h1 {
  color: var(--Very-dark-desaturated-blue);
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

/** FAQ card **/
.box {
  display: none;
}

.card {
  position: relative;
  background-color: white;
  border-radius: 1.5rem;
  padding: 0 1.5rem;
  width: 330px;
  min-height: 540px;
  box-shadow: 0 10px 30px var(--Very-dark-grayish-blue);
}

.img-container {
  margin: -105px auto 0;
  width: 240px;
}

.bg-img {
  position: absolute;
  top: 10px;
  left: 40px;
}

.line {
  width: 100%;
  border-bottom: thin solid var(--Light-grayish-blue);
  margin: 1rem 0;
}

.accordion {
  margin-top: 4.5rem;
}

.acc-item:first-of-type {
  margin-top: 2.5rem;
}

.acc-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.acc-title h2,
.acc-title svg {
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.acc-title h2:hover {
  color: var(--Soft-red);
  cursor: pointer;
}

.acc-title svg:hover {
  cursor: pointer;
}

.acc-title.active svg {
  transform: rotate(-180deg);
}

.acc-title.active h2 {
  font-weight: bold;
}

.acc-item p {
  display: none;
  color: var(--Dark-grayish-blue);
  margin-top: 0.5rem;
  line-height: 1.3rem;
}

.acc-item.active p {
  display: block;
}

.attribution {
  margin-top: 2rem;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/** MediaQueries **/
@media screen and (min-width: 1024px) {
  .card {
    width: 920px;
    display: flex;
    min-height: 510px;
    padding: 0;
    overflow: hidden;
  }

  .img-container,
  .accordion {
    width: 100%;
  }

  .accordion {
    margin-left: 6rem;
  }

  .img-container {
    align-self: center;
    margin: 0;
    margin-left: -4.6875rem;
  }

  .img-container img:first-of-type {
    transform: scale(1.1);
  }

  .bg-img {
    position: absolute;
    width: 672px;
    top: -60px;
    left: -320px;
  }

  .line {
    margin: 1.2rem 0;
  }

  .accordion {
    padding-right: 7rem;
  }

  .accordion h1 {
    text-align: start;
  }
}
